/assets/splits
/assets/cropped
/assets/rotated
/assets/background_removed
/assets/adjusted
/assets/chunks
/assets/txt_chunks
/assets/trabscribed_chunks
/assets/recombined
metadata.json
data/data.jsonl
_site/
weasel_output/
/assets/JPG_TESTBED
/assets/jpg
/assets/word
/configs
/_templates
/pipelines
/packages
.DS_Store
project.lock
/clean-through-convert.sh