/assets/splits
/assets/cropped
/assets/rotated
/assets/background_removed
/assets/adjusted
metadata.json
data/data.jsonl
_site/
weasel_output/
/assets/JPG_TESTBED
/assets/jpg
/configs
/scripts
/_templates
/prompts
/pipelines
/packages
.DS_Store